body{
	background-image: url(../img/fondoazul.jpg);
	background-repeat: no-repeat;
}
.tit2{
	font-size: 45px;
    color: black;
    margin-left: 90px;
    margin-bottom: 40px;
}
.tit3{
	color: black;
	font-size: 20px;
	margin-bottom: 30px;
	margin-left: 40
}
.next {
	font-size: 30px;
	font-weight: 600;
	margin-top: 30px;
	margin-left: 60px;
}
#telefonoOk{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid blue;
}
/*codigo*/
.codPar{
    margin-left: -20px;
}
#codigoT{
	width: 100px;
	height: 35px;
	display: inline-block;
	margin-left: 50px;
	margin-bottom: 20px;
}
#corr{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid blue;
	font-size: 15px;
}
/* btn next*/
#btnCod{
	width: 200px;
}
.pbb{
	margin-left: -10px;
}
